@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0c17;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Starting styling navbar */

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}

.title {
  font-family: "Gruppo", cursive;
  color: #f4f4f4;
  font-size: 2.5rem;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 10%;
}

.icon {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.75rem;
  color: #f4f4f4;
}

.icon:hover {
  color: #999;
  transition: 1s;
}

/* End of styling nvbar  */

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: absolute;
  top: 8.5rem;
  width: 100%;
}

.input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  box-shadow: 5px -5px 16px #050509, -5px 5px 16px #151325;
  background: #0d0c17;
  color: #f4f4f4;
  padding: 1rem;
  margin: 2rem 3rem;
}

.notif {
  font-family: "Gruppo", cursive;  
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  background: linear-gradient(145deg, #0e0d19, #0c0b15);
  box-shadow: 5px 5px 10px #050509, -5px -5px 10px #151325;
  color: #f4f4f4;
  position: absolute;
  top: 55%;
  margin: 1rem;
  padding: 1.75rem;
  width: 40%;
}

.notif-title {
  margin: 0;
}

.notif-subtitle {
  margin: 0.2rem;
  font-size: 0.9rem;
}

.card {
  display: none;
  flex-direction: column;
  width: 80%;
  height: 350px;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  overflow: auto;
  border-radius: 0.5rem;
  background: linear-gradient(45deg, #0c0b15, #0e0d19);
  box-shadow: 6px -6px 12px #050509, -6px 6px 12px #151325;
  transform: translate(13%, -10%);
}

.card::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: none;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.card::-webkit-scrollbar {
  width: 2px;
  height: 20px;
  border-radius: 1rem;
  transform: translateX(20px);
  background-color: #f4f4f4;
}

.card::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0c1755;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.card-items {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", sans-serif;
  width: 100%;
  padding: 0.5rem;
  margin: 0;
  cursor: pointer;
}

.card-items img {
  width: 75px;
  margin-right: 1rem;
  border-radius: 0.5rem;
}

.card-items:hover {
  background-color: #1f384418;
  transition: 0.5s;
}

.option {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  font-size: 0.8rem;
  color: #f4f4f4;
}

#l-autocomplete,
#r-autocomplete {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.main-content {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0.5rem 1rem;
  padding: 0rem 0.75rem;
  border-radius: 25px;
  background: #0d0c17;
  box-shadow: 22px -22px 57px #07060c, -22px 22px 57px #131222;
  color: #f4f4f4;
  border-radius: 0.5rem;
  transform: translate(-5%, -4%);
}

.detail-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-bottom: 0.2rem;
  border-radius: 35px;
  background: none;
  border-radius: 0.5rem;
}

.detail-content img {
  width: 45%;
  height: auto;
  border-radius: 0.3rem;
}

.plot-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding-left: 0.75rem;
  text-align: left;
  font-size: 0.8rem;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title h3 {
  font-size: 1.3rem;
  margin: 0;
  text-align: center;
}

.title-detail {
  margin: 0;
  text-align: center;
}

.detail-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin: 0.2rem 1rem;
  padding: 0.5rem 1rem;
  background: #0d0c17;
  box-shadow: 2px 2px 2px #07060c, 5px 6px 100px #050509;
  border-radius: 0.5rem;
}

.detail-box * {
  margin: 0;
}

.detail-box:last-child {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.rating {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: stretch;
  align-content: center;
  grid-template-rows: 1fr;
  column-gap: 0.2rem;
  width: 100%;
}

.rating-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  border-radius: 0.5rem;
  background: #0d0c17;
  box-shadow: 2px 2px 2px #07060c, 5px 6px 100px #050509;
  font-size: 0.8rem;
}

.gdat {
  display: flex;
  flex-direction: column;
  justify-content: f;
  align-items: flex-start;
  font-size: 0.75rem;
  padding: 0.5rem;
  font-weight: 700;
}

.is-better {
  background: #03143a;
}

.compare {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  color: #999;
  font-size: 2.5rem;
  font-weight: 700;
  position: absolute;
  transform: translate(-7%,300%);
}

.compare p{
  font-size: 1rem;
  font-family: 'Bangers', cursive;
  letter-spacing: 0.1rem;
}

.compare:hover {
  color: #f4f4f4;
  font-size: 3rem;
  transition: 0.3s;
}

.style-image{
  position: absolute;
  width: 300px;
  z-index: -1;
}

#cage{
  width: 200px;
  left: 0.5rem;
  top: 60%;
  transform: rotate(18deg);
  animation: rotate 20s ease-in-out infinite alternate ;
} 

#cross{
  width: 175px;
  left: 87%;
  top: 0rem;
  animation: rotate 20s ease-in-out infinite alternate ;
}


.show {
  display: flex;
}

@media(max-width:64em){
  .main-content {
    width: 80%;
    height: auto;
    margin: 0.5rem auto;
    padding: 0rem 0.75rem;
    transform: translateY(0%);
  }
  .detail-content {
    flex-direction: column;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-bottom: 0.2rem;
    border-radius: 0.5rem;
  }
  .detail-content img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }
  .plot-content {
    padding: auto;
    font-size: 0.8rem;
  }
  #title{
    /* font-size: 1rem; */
    margin: 0.5rem;
  }
  #title h3{
    font-size: 1.3em;
  }
  .gdat{
    font-size: 0.75rem;
    padding: 0.1rem;
    font-weight: 700;
  }

  .rating  {
    font-size: 0.75rem;
    padding: 0.1rem;
  }
  #cage{
    width: 150px;
    left: 2.1rem;
    top: 75%;
    transform: rotate(18deg);
    animation: rotate 20s ease-in-out infinite alternate ;
  } 
  
  #cross{
    width: 100px;
    left: 87%;
    top: 2rem;
    animation: rotate 20s ease-in-out infinite alternate ;
  }
}

@media (max-width:50em) {
  .heading{
    flex-direction: column;
    gap: 0rem;
  }
  .social-icons{
    position: relative;
    left: 0;
    margin-top: 2rem ;

  }
  .title h1{
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0;
    text-align: center;
  }
  .content-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }
  .notif{
    position: absolute;
    top: 110%;
    margin: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  .notif-title{
    font-size: 1.2rem;
  }
  #l-autocomplete,
  #r-autocomplete{
    width: 100%;
  }
  .input-section{
    font-size: 1rem;
    padding: 0.75rem;
    margin: 0.5rem 2rem;
  }
  .card{
    width: 80%;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    transform: translate(13%, 0%);
  }
  .main-content {
    width: 80%;
    height: auto;
    margin: 0.5rem auto;
    padding: 0rem 0.75rem;
    transform: translateY(0%);
  }
  .detail-content {
    flex-direction: column;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-bottom: 0.2rem;
    border-radius: 0.5rem;
  }
  .detail-content img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }
  .plot-content {
    padding: auto;
    font-size: 0.8rem;
  }
  #title{
    /* font-size: 1rem; */
    margin: 0.5rem;
  }
  #title h3{
    font-size: 1.3em;
  }
  .gdat{
    font-size: 0.75rem;
    padding: 0.1rem;
    font-weight: 700;
  }
  .rating-content {
    font-size: 0.75rem;
    padding: 0.2rem;
  }
  .style-image{
    display: none;
  }
}

@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}